<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Проба пера!</title>
</head>

<body>
    <h1>Статья про лес.</h1>

        <div class="ben">
            <div class="ben-item">
                <a href="https://sitekid.ru/biologiya/rasteniya/chto_takoe_les.html">
                    <img class="ben-photo" src="img/les1.jpg" alt="">
                </a>
                    <h3 class="ben-title">Что такое лес?</h3>
                <div class="ben-text">
                    <p><b><u>Лес</u></b>— устойчивая экосистема с замкнутым круговоротом веществ.</p>
                </div>
            </div>

            <div class="ben-item">
                <a href="https://ecology.md/ru/page/pro-les">
                    <img class="ben-photo" src="img/les2.jpg" alt="">
                </a>
                    <h3 class="ben-title">Что такое лес?</h3>
                <div class="ben-text">
                    <p><b><u>Лес</u></b>- это составная и очень важная часть биосферы.</p>
                </div>
            </div>

            <div class="ben-item">
                <a href="http://dendromir.ru/uslugi/stati_o_lese/globalnye_posledstviya_poteri_lesov/">
                    <img class="ben-photo" src="img/les3.jpg" alt="">
                </a>
                    <h3 class="ben-title">Что такое лес?</h3>
                <div class="ben-text">
                    <p><b><u>Лес</u></b> - это часть мира.
                </div>
            </div>
            <ul class="ben-footer">
                <li>Автор сайта:<a href="https://vk.com/id414430874">Богдан Ануфриев</a></li>
                <li>Информация:<a href="https://www.google.ru/">Google.com</a></li>


            </ul>
        </div>
    
</body>
</html>